<%- include("header") -%>
    <h2>About page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum diam et metus lobortis laoreet. Mauris lacus ex, porttitor non lacus eget, euismod ultricies nisl. Vivamus neque mi, facilisis ac sagittis sit amet, tempus at ligula. Nulla facilisi. Sed nec sapien ex. Nulla facilisi. Quisque in felis venenatis, posuere est ut, semper orci. Aenean sed odio et tortor hendrerit placerat. Ut nulla lectus, elementum non elementum nec, pellentesque nec leo.</p>

<%- include("footer") -%>