<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>To do list</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h1><%= kindOfDay %></h1>

        <ul>
            <% for(var x = 0; x < newListItems.length; x++) { %>
                <li><%= newListItems[x] %> </li>
            <% } %>
        </ul>

        <form action="/" method="POST">
            <input type="text" name="newItem">
            <button type="submit" name="button">Add</button>
        </form>
    </body>
</html>